Source: rtems-cexp
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), rtems-debhelper, autotools-dev,
               rtems-mvme2100, rtems-mvme2307, rtems-mvme3100, rtems-mvme5500,
               rtems-pc386
Rtems-Depends: rtems
Standards-Version: 3.8.0
Homepage: http://www.slac.stanford.edu/~strauman/rtems

Package: rtems-cexp-mvme2100
Architecture: any
Depends: ${rtems:Depends}
Recommends: rtems-cexp-doc
Description: C Expression shell and object loader from RTEMS
 Run-time interactive shell, dynamic loader, and other useful addons.
 .
 This package contains libraries and headers for the MVME2100 PowerPC based SBC

Package: rtems-cexp-mvme2307
Architecture: any
Depends: ${rtems:Depends}
Recommends: rtems-cexp-doc
Description: C Expression shell and object loader from RTEMS
 Run-time interactive shell, dynamic loader, and other useful addons.
 .
 This package contains libraries and headers for the MVME2307 PowerPC based SBC

Package: rtems-cexp-mvme3100
Architecture: any
Depends: ${rtems:Depends}
Recommends: rtems-cexp-doc
Description: C Expression shell and object loader from RTEMS
 Run-time interactive shell, dynamic loader, and other useful addons.
 .
 This package contains libraries and headers for the MVME3100 PowerPC based SBC

Package: rtems-cexp-mvme5500
Architecture: any
Depends: ${rtems:Depends}
Recommends: rtems-cexp-doc
Description: C Expression shell and object loader from RTEMS
 Run-time interactive shell, dynamic loader, and other useful addons.
 .
 This package contains libraries and headers for the MVME5500 PowerPC based SBC

Package: rtems-cexp-pc386
Architecture: any
Depends: ${rtems:Depends}
Recommends: rtems-cexp-doc
Description: C Expression shell and object loader from RTEMS
 Run-time interactive shell, dynamic loader, and other useful addons.
 .
 This package contains libraries and headers for 386 compatible cpu with standard PC hardware.
