#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS:=$(filter-out -g,$(CFLAGS))
CXXFLAGS:=$(filter-out -g,$(CXXFLAGS))
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
BMAKEFLAGS += -j$(NUMJOBS)
endif

RTEMS_VER ?= $(shell cat /usr/share/rtems-common/series)

ARCHS=powerpc i386

powerpc_BSPS=mvme2100 mvme2307 mvme3100 mvme5500 beatnik
i386_BSPS=pc386

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_TARGET_GNU_TYPE ?= $(1)-rtems$(RTEMS_VER)
CONFIG= --target=$(call DEB_TARGET_GNU_TYPE,$(1)) --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE) \
 --with-rtems-top=/usr --enable-rtemsbsp="$($(1)_BSPS)" --enable-std-rtems-installdirs \
 --with-man-pages=no

binary binary-arch binary-indep build install clean:
	dh $@ --with rtems
install: build
binary-arch binary-indep: install
binary: binary-arch binary-indep

override_dh_auto_configure:
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	install -d build-i386
	cd build-i386 && ../configure $(call CONFIG,i386)
	install -d build-powerpc
	cd build-powerpc && ../configure $(call CONFIG,powerpc)

override_dh_auto_build:
	# Clear CFLAGS to avoid clobbering target flags
	env -u CFLAGS -u CXXFLAGS $(MAKE) $(BMAKEFLAGS) -C build-i386
	env -u CFLAGS -u CXXFLAGS $(MAKE) $(BMAKEFLAGS) -C build-powerpc

override_dh_auto_test: # do nothing

override_dh_auto_install:
	env -u CFLAGS -u CXXFLAGS $(MAKE) -C build-i386 DESTDIR=$(CURDIR)/debian/tmp install
	env -u CFLAGS -u CXXFLAGS $(MAKE) -C build-powerpc DESTDIR=$(CURDIR)/debian/tmp install

override_dh_install:
	dh_install --list-missing # extra check for packaging omissions

override_dh_auto_clean:
	rm -rf $(foreach arch,$(ARCHS),build-$(arch))
	rm -f configure-pre config.sub config.guess
